Repository MAVERICK-VF142/Drx.MediMate, pull requests merged in 2025-07, with the labels that each got.

#28 🔧 Add Timeout, Retry Logic, and Logging for Gemini API Calls
  .gitignore
  README.md
  app.py
  logs/app.log
  requirements.txt
Labels: GSSOC25, LEVEL2

#33 Fixes the issue #27 which is of Improve Gemini response formatting for readability
  app.py
  requirements.txt
  static/css/styles.css
  test.py
Labels: GSSOC25, LEVEL1

#65 issue#23 Add speech to text feature for symptom checker
  templates/symptom_checker.html
Labels: enhancement, GSSOC25, LEVEL1

#78 Added AI-powered disease prediction feature
  app.py
  templates/symptom_checker.html
Labels: enhancement, LEVEL2

#79 🔁 Added caching for drug info using TTLCache to reduce Gemini API calls
  app.py
  requirements.txt
  utils/cache.py
Labels: enhancement, GSSOC25, LEVEL2

#103 Fixed- Autofocus in Sign-up Form
  backend/templates/sisu.html
Labels: GSSOC25, LEVEL1
