Repository MAVERICK-VF142/Drx.MediMate, pull requests merged in 2025-08, with the labels that each got.

#126 created student dashboard
  backend/templates/student-dashboard.html
Labels: enhancement, GSSOC25, LEVEL2

#113 Drug Comparison Tool
  backend/__init__.py
  backend/routes/api_routes.py
  backend/routes/feature_routes.py
  backend/templates/drug_comparison.html
  backend/templates/index.html
  backend/utils/gemini_utils.py
Labels: enhancement, GSSOC25, LEVEL2

#134 Add favicon to all pages
  backend/static/favicon.png
  backend/templates/allergy-checker.html
  backend/templates/doctor-dashboard.html
  backend/templates/drug_info.html
  backend/templates/index.html
  backend/templates/my_account.html
  backend/templates/pharmacist-dashboard.html
  backend/templates/prescription_validator.html
  backend/templates/sisu.html
  backend/templates/student-dashboard.html
  backend/templates/symptom_checker.html
  backend/templates/upload_image.html
Labels: GSSOC25, LEVEL1

#144 feature: added drug name autocomplete feature
  backend/static/data/drug_names.json
  backend/static/js/autocomplete.js
  backend/templates/drug_comparison.html
  backend/templates/drug_info.html
Labels: GSSOC25, LEVEL2

#145 Add Go to Top button feature
  backend/static/css/goToTop.css
  backend/static/js/goToTop.js
  backend/templates/allergy-checker.html
  backend/templates/doctor-dashboard.html
  backend/templates/drug_comparison.html
  backend/templates/drug_info.html
  backend/templates/goToTop.html
  backend/templates/index.html
  backend/templates/my_account.html
  backend/templates/pharmacist-dashboard.html
  backend/templates/prescription_validator.html
  backend/templates/sisu.html
  backend/templates/student-dashboard.html
  backend/templates/symptom_checker.html
  backend/templates/upload_image.html
  requirements.txt
Labels: GSSOC25, LEVEL1
